body{
	margin: 0;
}

.whole{
  display: flex;
  flex-direction: column;
}
#header{
	margin-bottom: 0.1%;
	background-color: #171790;
    top: 0;
    -moz-box-shadow: 0px 3px 3px #000;
    -webkit-box-shadow: 0px 3px 3px #000;
    box-shadow-bottom: 5px #000;
    z-index: 1;
}
#header > img:first-child {
	height: 100px;
	width: 750px;
}
#textheader{
  display: none;
}
@media(max-width: 750px)
{
  #header > img:first-child{
    width: 500px;
    height: 67px;
  }
}


@media(max-width: 500px)
{
  #header > img:first-child{
    content: url(../img/gbpuat.png);
    height: 67px;
    width: 67px;
    margin-left: 42%;
    margin-top: 2px;

  }
  #textheader{
    width: 330px;
    height: 50px;
    display: block;
    margin: auto;

  }
}

.orange {
  height: 5px;
  background-color: #ffae42;
  width: 100%;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100%;
 
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #ffe2ba;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 1vw 1vw 1vw 4vw;
  text-decoration: none;
  font-size: 4vw;
  color: #ffae42;
  display: block;
  transition: 0.3s;
  border-bottom: 2px solid #ffae42;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 3vw;
  font-size: 4vw;
  margin-left: 5vw;
}
#nav2{
  display:none;
}
@media(max-width: 619px)
{
  #nav1{
    display: none;
  }
  #nav2{
    display: block;
  }
}



#page1{
  /* The image used */
  background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/1.jpg");

  /* Set a specific height */
  min-height: 85vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
 padding: 20vh 0;
}
.page1{
  position: relative;
  overflow: hidden;
}
.page1:before{
  content: '';
  position: absolute;
  top: 100%;
  left: -70%;
  width: 100%;
  height: 100%;
  background: #171790;
  transform-origin: right;
  transform: skewY(8deg);
}
.page1:after{
  content: '';
  position: absolute;
  top: 100%;
  right: -30%;
  width: 100%;
  height: 100%;
  background: #171790;
  transform-origin: left;
  transform: skewY(-8deg);
}




#page2{
  /* The image used */
  background:/*linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/4.jpg")*/ #171790;

  /* Set a specific height */
  min-height: 60vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
 padding: 20vh 10vw;
 color: white;
}
.page2{
  position: relative;
  overflow: hidden;
}
.page2:after{
  content: '';
  position: absolute;
  top: 100%;
  right: -30%;
  width: 100%;
  height: 100%;
  background: #ffae42;
  transform-origin: left;
  transform: skewY(-8deg);
}




#page3{
  /* The image used */
  background:/*linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/6.jpg")*/#ffae42;

  /* Set a specific height */
  min-height: 60vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  text-align:center;
 padding: 20vh 10vw;
}
.page3{
  position: relative;
  overflow: hidden;
}
.page3:before{
  content: '';
  position: absolute;
  top: 85%;
  left: -70%;
  width: 100%;
  height: 100%;
   background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("../img/3.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  transform-origin: right;
  transform: skewY(-8deg);
}
.page3:after{
  content: '';
  position: absolute;
  top: 85%;
  right: -30%;
  width: 100%;
  height: 100%;
   background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("../img/3.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: left;
  transform: skewY(5.5deg);
}




#page3_5{
  /* The image used */
  background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("../img/3.png");

  /* Set a specific height */
  min-height: 60vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
 padding: 20vh 10vw;
}
.page3_5{
  position: relative;
  overflow: hidden;
}
.page3_5:after{
  content: '';
  position: absolute;
  top: 100%;
  right: -30%;
  width: 100%;
  height: 100%;
  background: #171790;
  transform-origin: left;
  transform: skewY(-8deg);
}








#page4{
  /* The image used */
  background:/*linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/3.png")*/#171790;

  /* Set a specific height */
  min-height: 60vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
 padding: 20vh 10vw;
 color: white;
}
.page4{
  position: relative;
  overflow: hidden;
}
.page4:before{
  content: '';
  position: absolute;
  top: 90%;
  left: -30%;
  width: 100%;
  height: 100%;
   background:#ffae42;
  background-size: cover;  transform-origin: right;
  transform: skewY(-4.3deg);
}
.page4:after{
  content: '';
  position: absolute;
  top: 90%;
  right: -70%;
  width: 100%;
  height: 100%;
   background:#ffae42;
  transform-origin: left;
  transform: skewY(10deg);
}




#page5{
  /* The image used */
  background:/*linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/7.jpeg")*/#ffae42;

  /* Set a specific height */
  min-height: 60vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
 padding: 20vh 10vw;
}
.page5{
  position: relative;
  overflow: hidden;
}
.page5:after{
  content: '';
  position: absolute;
  top: 100%;
  right: -30%;
  width: 100%;
  height: 100%;
   background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("../img/7.jpeg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  transform-origin: left;
  transform: skewY(-8deg);
}



#page5_5{
  /* The image used */
  background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("../img/7.jpeg");

  /* Set a specific height */
  min-height: 60vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
 padding: 20vh 10vw;
}




.blue {
  height: 20px;
  background-color: #171790;
  width: 100%;

}

#footer{

  text-align: center;
  background-color: #171790;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow:row;
}
#column{
 padding-top: 25px;
 padding-bottom: 25px ;
  font-family: 'Tinos', serif;
  color: #ffe2ba;
  line-height: 1vmax;
  font-size: 1.2vmax;


}
#column > p:first-child{
  color: #ffae42;
  text-decoration: underline #ffae42;
  font-size: 1.3vmax;}
  @media(min-width: 1260px)
    { #column{
        line-height: 0.5vmax;
      font-size: 0.7vmax;
    }
    #column > p:first-child{
      font-size: 0.8vmax;
    }

  }

