body{
	margin: 0;
}

.whole{
  display: flex;
  flex-direction: column;
}
#header{
	margin-bottom: 0.1%;
	background-color: #171790;
    top: 0;
    -moz-box-shadow: 0px 3px 3px #000;
    -webkit-box-shadow: 0px 3px 3px #000;
    box-shadow-bottom: 5px #000;
    z-index: 1;
}
#header > img:first-child {
	height: 100px;
	width: 750px;
}
#textheader{
  display: none;
}
@media(max-width: 750px)
{
  #header > img:first-child{
    width: 500px;
    height: 67px;
  }
}


@media(max-width: 500px)
{
  #header > img:first-child{
    content: url(../img/gbpuat.png);
    height: 67px;
    width: 67px;
    margin-left: 42%;
    margin-top: 2px;

  }
  #textheader{
    width: 330px;
    height: 50px;
    display: block;
    margin: auto;

  }
}

.orange {
  height: 5px;
  background-color: #ffae42;
  width: 100%;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100%;
 
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #ffe2ba;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 1vw 1vw 1vw 4vw;
  text-decoration: none;
  font-size: 4vw;
  color: #ffae42;
  display: block;
  transition: 0.3s;
  border-bottom: 2px solid #ffae42;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 3vw;
  font-size: 4vw;
  margin-left: 5vw;
}
#nav2{
  display:none;
}
@media(max-width: 619px)
{
  #nav1{
    display: none;
  }
  #nav2{
    display: block;
  }
}

#btnroll{
  text-align: center;
}
 #btnroll > div{
  margin: 5vmax;
 }

#btnroll > a{
  display: inline-block;
  margin: 5vmax;
  padding: 20px 40px;
  background: #171790;
  color: #ffe2ba;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  transform-style: preserve-3d;
  transition: ease-in-out 1.5s;
  border-radius: 60px;

}
#btnroll > a:hover{
  transform: rotateX(360deg);
}
#btnroll > a span{
  display: block;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: perspective(100px) translateZ(20px);
}
#btnroll > a:before{
  content: '';
  position: absolute;
  top: 4px;
  left: 6px;
  bottom: 4px;
  right: 6px;
  border: 2px solid #ffae42;
  transform-style: preserve-3d;
  transform: perspective(500px) translateZ(15px);
  border-radius: 60px;
}

#btnroll > a:after{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border: 2px solid #171790;
  transform-style: preserve-3d;
  transform: perspective(500px) translateZ(-15px);
  border-radius: 60px;
}

#labinfo , #compinfo , #audiinfo , #libinfo{
  display: none;
}




.blue {
  height: 20px;
  background-color: #171790;
  width: 100%;

}

#footer{

  text-align: center;
  background-color: #171790;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow:row;
}
#column{
 padding-top: 25px;
 padding-bottom: 25px ;
  font-family: 'Tinos', serif;
  color: #ffe2ba;
  line-height: 1vmax;
  font-size: 1.2vmax;


}
#column > p:first-child{
  color: #ffae42;
  text-decoration: underline #ffae42;
  font-size: 1.3vmax;}
  @media(min-width: 1260px)
    { #column{
        line-height: 0.5vmax;
      font-size: 0.7vmax;
    }
    #column > p:first-child{
      font-size: 0.8vmax;
    }

  }
