body{
	margin:0;
      height: 2600px;

}
#header{
	margin-bottom: 1%;
	background-color: #171790;
	position: -webkit-sticky;
    position: sticky;
    top: 0;
    -moz-box-shadow: 0px 3px 3px #000;
    -webkit-box-shadow: 0px 3px 3px #000;
    box-shadow-bottom: 5px #000;
    z-index: 100;
}
#pic{
	margin: 0;
	position: absolute;
	top:10%;
	-moz-box-shadow: 0px 3px 3px #000;
    -webkit-box-shadow: 0px 3px 3px #000;
    box-shadow-bottom: 5px #000;
	z-index: 1;
}
#menu
{
	display: grid;
	grid-template-columns: repeat(12, 8.33%);
}
#home{
	/*position: absolute;
	top: 69%;
	left: 17%;*/
	z-index: 3;
	zoom: 0.1;
	grid-column-start: 3;
  grid-column-end: 4;
	/*-moz-box-shadow: 0px 30px 30px #000;
    -webkit-box-shadow: 0px 30px 30px #000;
    box-shadow-bottom: 50px #000;*/
}
#home img:hover {
content:url("homehover.svg");
}
#aboutus{
	/*position: absolute;
	top: 69%;
	left: 27%;*/
	z-index: 3;
	zoom: 0.12;
}
#aboutus img:hover {
content:url("aboutushover.svg");
}
#faculty{
	/*position: absolute;
	top: 68.7%;
	left: 35.5%;*/
	z-index: 3;
	zoom: 0.12;
}
#faculty img:hover {
content:url("facultyhover.svg");
}
#associations{
	/*position: absolute;
	top: 70%;
	left: 44%;*/
	z-index: 3;
	zoom: 0.12;
}
#associations img:hover {
content:url("associationshover.svg");
}
#facilities{
	/*position: absolute;
	top: 68.7%;
	left: 55%;*/
	z-index: 3;
	zoom: 0.12;
}
#facilities img:hover {
content:url("facilitieshover.svg");
}
#activities{
	/*position: absolute;
	top: 69%;
	left: 63%;*/
	z-index: 3;
	zoom: 0.1;
}
#activities img:hover {
content:url("activitieshover.svg");
}
#placements{
	/*position: absolute;
	top: 68.7%;
	left: 71%;*/
	z-index: 3;
	zoom: 0.1;
}
#placements img:hover {
content:url("placementshover.svg");
}
#conveyance{
	/*position: absolute;
	top: 68.1%;
	left: 79%;*/
	z-index: 3;
	zoom: 10%;
}
#conveyance img:hover {
content:url("conveyancehover.svg");
}
#programme{
	/*position: absolute;
	top:40%;
	left:30%;*/
	color: white;
	font-size: 300%;
	z-index: 5;
}

#news{
	position: absolute;
	top: 85%;
	left: 20%;
	color: black;
	z-index: 3;
}
.newsitems {
	position: absolute;
	top:92%;
	left:15%;
  display: flex;
    align-items: flex-start;

  flex-direction: column;
  	z-index: 3;
}

.newsitems > div {
  background-color: #ffe2ba;
  border-left: 6px solid #ffae42;
      width: 800px;

  text-align: left;
    	z-index: 3;
}
#item{
	margin: 10px;
	padding-left: 5%;
		z-index: 3;
}
.item:hover{
	-moz-box-shadow: 0px 3px 3px #000;
    -webkit-box-shadow: 0px 3px 3px #000;
    box-shadow-bottom: 5px #000;
    	z-index: 3;
}
#heading{
	color: #ffae42;
	z-index: 5;
}
#date{
	color: #43464b;
	z-index: 5;
}
h1[id="upcomingevents"]{
	position: absolute;
	top: 85%;
	left: 70%;
	color: black;
	z-index: 3;
}
.upcomingevents {
	position: absolute;
	top:92%;
	left:65%;
  display: flex;
  flex-direction: column;
  	z-index: 3;
}
.upcomingevents > div {
  width: 400px;
  text-align: left;
  	z-index: 3;
  }
  #event{
  	margin: 10px;

		z-index: 3;
		border-left: 2px solid #ffae42;

  }
  #thick{
  	  	border-left: 6px solid #ffae42;
  	  		padding-left: 5%;
  	  		z-index: 3;

  }
  #description{
  		padding-left: 8%;
  		  	  		z-index: 3;

  }
  #footer{
  		background-color: #171790;
  		position: absolute;
  		top:220%;
  		width: 100%;
  		  	  		z-index: 3;


  }
 #three{
 	display: flex;
 	 flex-direction: row;
 	 position: absolute;
 	 top: 5%;
 	 left: 27%;
 	   	  		z-index: 3;


 }
 #three1{
margin: 10px;
width: 300px;
	padding-left: 5%;
		z-index: 3;
		  	  		z-index: 3;


 }
 h4{
 	color: #ffae42;
 	text-decoration: underline #ffae42;
 }
 #three1 > p{
 	color: #ffe2ba;
 	line-height: 3px;
 }
 @media (max-device-width:600px)
 {
 	.header{
 		zoom: 0.5;
 	}
 }