body{
	margin: 0;
}

.whole{
  display: flex;
  flex-direction: column;
  display: none;
}
#header{
	margin-bottom: 0.1%;
	background-color: #171790;
    top: 0;
    -moz-box-shadow: 0px 3px 3px #000;
    -webkit-box-shadow: 0px 3px 3px #000;
    box-shadow-bottom: 5px #000;
    z-index: 1;
}
#header > img:first-child {
	height: 100px;
	width: 750px;
}
#textheader{
  display: none;
}
@media(max-width: 750px)
{
  #header > img:first-child{
    width: 500px;
    height: 67px;
  }
}


@media(max-width: 500px)
{
  #header > img:first-child{
    content: url(../img/gbpuat.png);
    height: 67px;
    width: 67px;
    margin-left: 42%;
    margin-top: 2px;

  }
  #textheader{
    width: 330px;
    height: 50px;
    display: block;
    margin: auto;

  }
}

.orange {
  height: 5px;
  background-color: #ffae42;
  width: 100%;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100%;
 
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #ffe2ba;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 1vw 1vw 1vw 4vw;
  text-decoration: none;
  font-size: 4vw;
  color: #ffae42;
  display: block;
  transition: 0.3s;
  border-bottom: 2px solid #ffae42;
  
 /*     -moz-box-shadow: 0px 2px 0px #000;
    -webkit-box-shadow: 0px 2px 0px #000;
    box-shadow-bottom: 2px #000;*/
  
}

.sidebar a:hover {
  color: #f1f1f1;
  
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 3vw;
  font-size: 4vw;
  margin-left: 5vw;
}
#nav2{
  display:none;
}


#menu{
  display: flex;
  flex-direction: column;
  background: url(../img/collage.png);
    background-position: 50% 50%;
  background-size: cover;
}
#item{
  background-color: #ffae42;
  border-radius: 50px;
  padding: 1vh 1vw;
  margin: 1vh 0;
  width: 100%;
  position: relative;
  left: -94.8vmax;
  height: 9vh;
  transition-duration: 0.7s;
  color: white;
  font-size: 3vh;
}

#item:hover{
  left: -82vw;
  text-decoration: none;
}

#item > p{
  text-align: right;
}
#item > a{
  border: 2px solid #191970;
  border-radius: 60px;
}
.small{
  display: none;
}


@media(max-width: 1077px)
{
  #menu{
    display: none;
  }
  #nav2{
    display: block;
  }
  #small{
    display: block;
  }
}




.blue {
  height: 20px;
  background-color: #171790;
  width: 100%;

}

#footer{

  text-align: center;
  background-color: #171790;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow:row;
}
#column{
 padding-top: 25px;
 padding-bottom: 25px ;
  font-family: 'Tinos', serif;
  color: #ffe2ba;
  line-height: 1vmax;
  font-size: 1.2vmax;


}
.column > a{
    color: #ffe2ba;

}
#column > p:first-child{
  color: #ffae42;
  text-decoration: underline #ffae42;
  font-size: 1.3vmax;}
  @media(min-width: 1260px)
    { #column{
        line-height: 0.5vmax;
      font-size: 0.7vmax;
    }
    #column > p:first-child{
      font-size: 0.8vmax;
    }

  }


  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }