body{
	background-color: #0c0c0c;
}

.cont{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


.dnaloader{
	height: 10rem;
	width: 30rem;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	animation: rotateDna 15s linear infinite;

}

.spike{
	height: 80%;
	width: 0;
	position: relative;
	z-index: -5;

}

.spike:before , .spike:after{
	content: "";
	position: absolute;
	height: 1rem;
	width: 1rem;
	left: 0;
	right: 0;
	transform: translateX(-50%);
	border-radius: 500px;
	margin: auto;

}

.spike:before{
	top:0;
	background-color: #55c1ff;
	animation: beforeAnimate 1.5s linear infinite;
}

.spike:after{
	bottom: 0;
	background-color: #ffae42;
	animation: afterAnimate 1.5s linear infinite;

}

.a1:before , .a1:after{
	animation-delay: 0.15s;
}
.a2:before , .a2:after{
	animation-delay: 0.30s;
}
.a3:before , .a3:after{
	animation-delay: 0.45s;
}
.a4:before , .a4:after{
	animation-delay: 0.60s;
}
.a5:before , .a5:after{
	animation-delay: 0.75s;
}
.a6:before , .a6:after{
	animation-delay: 0.90s;
}
.a7:before , .a7:after{
	animation-delay: 1.05s;
}
.a8:before , .a8:after{
	animation-delay: 1.20s;
}
.a9:before , .a9:after{
	animation-delay: 1.35s;
}
.a10:before , .a10:after{
	animation-delay: 1.50s;
}
.a11:before , .a11:after{
	animation-delay: 1.65s;
}
.a12:before , .a12:after{
	animation-delay: 1.80s;
}
.a13:before , .a13:after{
	animation-delay: 1.95s;
}
.a14:before , .a14:after{
	animation-delay: 2.10s;
}
.a15:before , .a15:after{
	animation-delay: 2.25s;
}
@keyframes beforeAnimate{
	0%{
		top: 0;
		transform: translateX(-50%) translateY(0) scale(0.5);

	}
	25%{
		transform: translateX(-50%) translateY(-100%) scale(0.5);
		opacity: 0.5;
		z-index: -1;
	}
	50%{
		top: 100%;
		transform: translateX(-50%) translateY(-100%) scale(0.5);
		opacity: 0.75;
	}
	75%{
		transform: translateX(-50%) translateY(-100%) scale(1.5);
		opacity: 1;
		z-index: 1;
	}
	100%{
		top: 0;
		transform: translateX(-50%) translateY(0) scale(0.5);
		opacity: 0.75;
	}
}

@keyframes afterAnimate{
	0%{
		bottom:0;
		transform: translateX(-50%) translateY(0) scale(0.5);
		opacity: 0.25;
	}
	25%{
		transform: translateX(-50%) translateY(-100%) scale(1.5);
		z-index: 1;
		opacity: 1;

	}
	50%{
		bottom: 100%;
		transform: translateX(-50%) translateY(100%) scale(0.5);
		opacity: 0.75;

	}
	75%{
		transform: translateX(-50%) translateY(-100%) scale(0.5);
		z-index: -1;
		opacity: 0.5;

	}
	100%{
		bottom: 0;
		transform: translateX(-50%) translateY(0) scale(0.5);
		opacity: 0.25;
	}
}

@keyframes rotateDna{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}